<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>CoolTupe</title>
<style>

.dataframe thead, .dataframe th, .mainContainer {
    background-color:grey;
}

</style>
</head>
<body>
<div align="center">
<a href="/search">Go Back</a>
    <h1>{{channel.name.upper()}} Analytics</h1>
<div class="mainContainer">
	{{channel.generate_statistics_bar()|safe}}
</div>	
<h2>Analytics per video</h2>
	{{channel.generate_table()|safe}}
<h2>Application Performance statistics</h2>
	{{stats|safe}}
</div>
</body>
</html>
