<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>CoolTupe</title>
</head>
<body>
    <h1>{{channel.name.upper()}} Analytics</h1>

	{{channel.generate_statistics_bar()|safe}}
	
	{{channel.generate_table()|safe}}
	
	<dl>
	{% for video in channel.videos %}
		<dt>{{ video.title|e }} : {{video.score}}</dt>
		<dt><img src="{{video.image|safe}}" style="width:240px;height:200px;"/></dt>
		<dd>{{ video.generate_statistics_pie()|safe }}</dd>
	{% endfor %}
	</dl>
</body>
</html>
