<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>CoolTupe</title>
</head>
<body>
    <h1>CoolTube</h1>
<form method="post" action="/search">
Enter the id of the video you want:
<input name="videoId" type="text"/>
<input type="submit" value="go"/>
</form>

<form method="post" action="/channel">
Enter the name of the channel:
<input name="channelName" type="text"/>
<input type="submit" value="go"/>
</form>
{%if videoScore%}
score is: {{videoScore}}
graph is: {{pieHtml|safe}}
{%endif%}
</body>
</html>
